@import "_colors.scss";

.profiles-sidebar {
  a.active {
    background-color: $CodeBnB-secondary !important;
    color: $CodeBnB-logo !important;
    &:hover {
      background-color: #f5f5f5 !important;
    }
    svg {
      color: $CodeBnB-logo !important;
      &:hover {
        color: $CodeBnB-logo !important;
      }
    }
  }
}

